<div class="row mt-5">
  <div class="col-2"></div>
  <div class="col-8 p-5 mt-5 border border-secondary">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, "#{t '.email'}" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control mb-3' %>
      </div>

      <div class="actions">
        <%= f.submit "#{t '.resend'}", class: "form-control btn btn-success" %>
      </div>
    <% end %>
  </div>
  <div class="col-2"></div>
</div>
