<div class="row mt-3 d-flex justify-content-center">
  <div class="col-12 col-sm-8 p-5 mt-5">
    <%= form_for(resource, as: resource_name,  url: session_path(resource_name)) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, "#{t '.email'}" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mb-4", placeholder: "テストユーザー：foo@tabilog.com" %>
      </div>

      <div class="field">
        <%= f.label :password, "#{t '.password'}" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control mb-4", placeholder: "テストユーザー：password"  %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field mb-2">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "#{t '.remember'}" %>
        </div>
      <% end %>

      <div class=" row actions mb-3">
        <%= f.submit "#{t '.login'}", class: "btn btn-success mx-auto px-5"%>
      </div>
    <% end %>

    <div class="row border border-light mb-3"></div>

    >><%= render "users/shared/links" %>
  </div>
</div>

