<div class="row mt-5">
  <div class="col-2"></div>
  <div class="col-8 p-5 mt-5 border border-secondary">
    <div class="">
      <h3 class="text-center mb-5"><%= t '.login'%></h3>
    </div>
    <%= form_for(resource, as: resource_name,  url: session_path(resource_name)) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, "#{t '.email'}" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mb-2" %>
      </div>

      <div class="field">
        <%= f.label :password, "#{t '.password'}" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control mb-2" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "#{t '.remember'}" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "#{t '.login'}", class: "form-control btn btn-success"%>
      </div>
    <% end %>

    >><%= render "users/shared/links" %>
    <h5 class="text-center mt-5 mb-4">Googleアカウントでログイン</h5>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to omniauth_authorize_path(resource_name, provider) do %>
        <button type="button" class="btn btn-info btn-block"><i class="fab fa-google"></i></button>
      <% end %>
    <% end %>
  </div>
  <div class="col-2"></div>
</div>

