<div class="row mt-5">
  <div class="col-1"></div>
  <div class="col-10">
    <%= form_for @article do |f| %>
      <div class="form-group">
        <%= f.text_field :title, class: "form-control", placeholder: "#{t '.title'}" %>
      </div>
      <div class="tag-form-field">
        <%= f.label "#{t '.tag'}", class: "text-secondary" %>
        <ul id="tag-form">
        </ul>
      </div>
      <div class="form-group">
        <%= f.text_area :body, 'data-provider': :summernote %>
      </div>
      <div class="btn-danger mb-2">tag select追加</div>
      <div class="btn-danger mb-2">image form追加</div>
      <div class="form-group">
      <p class="text-secondary"><i class="fas fa-map-marker-alt text-danger"></i> <%= t '.location' %></p>
        <%= f.text_field :address, class: "form-control", placeholder: "#{t '.location-text'}" %>
      </div>
      <div class="form-group">
        <p class="text-secondary"><%= t '.image' %></p>
        <%= f.attachment_field :article_image %>
      </div>
      <%= f.submit "#{t '.edit'}", class: "btn btn-secondary btn-block" %>
    <% end %>
  </div>
  <div class="col-1"></div>
</div>