<%= render :partial => "users/profile", :locals => {:user => @article.user} %>
<!-- ---------------記事詳細部分-------------------- -->
<!-- 記事タイトル -->
<div class="row mt-2">
  <div class="col-1"></div>
  <div class="col-8">
    <h1><%= @article.title %></h1>
  </div>
  <div class="col-3">
    <% if @article.user == current_user %>
      <%= link_to edit_article_path do %>
        <div class="btn btn-success"><%= t '.edit' %></div>
      <% end %>
      <%= link_to article_path(@article), method: :delete do %>
        <div class="btn btn-danger"><%= t '.delete' %></div>
      <% end %>
    <% else %>
      <div class="row">
        <div class="col-6" id="favolite-<%= @article.id %>">
          <% if user_signed_in? %>
            <%= render :partial => "articles/favolite", :locals => {:article => @article} %>
          <% else %>
            <i class="fas fa-heart text-secondary"></i><%= article.favolites.count %>
           <% end %>
        </div>
        <div class="col-6" id="stock-<%= @article.id %>">
          <% if user_signed_in? %>
            <%= render :partial => "articles/stock", :locals => {:article => @article} %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- タグ -->
<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
      <% @article.tags.each do |tag| %>
        <%= link_to articles_path(search: tag.name, option: "2"), class: "badge badge-info" do %>
          <%= tag.name %>
        <% end %>
      <% end %>
  </div>
  <div class="col-1"></div>
</div>
<!-- 記事本文 -->
<div class="row mt-3">
  <div class="col-1"></div>
  <div class="col-10">
    <p>
      <%== @article.body %>
    </p>
  </div>
  <div class="col-1"></div>
</div>
<!-- 位置情報、googlemaps-API -->
<div class="row mt-3 mb-5 pb-3 border-bottom border-lite">
  <div class="col-1"></div>
  <div class="col-7">
    <a class="text-secondary" data-toggle="collapse" href="#Googlemaps-API" role="button" aria-expanded="false" aria-controls="Googlemaps-API">
      <i class="fas fa-map-marker-alt"></i> <%= @article.address %>
    </a>
    <div class="collapse" id="Googlemaps-API">
      <div class="card card-body">
        <div id="map"></div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <%= @article.created_at.to_s(:datetime_jp) %>
  </div>
</div>
<!-- ----------------------------------------------- -->
<!-- コメント部分 -->
<div class="row">
  <div class="col-1"></div>
  <div class="col-10 border-bottom border-lite pb-2 mb-3"><h5><%= t '.comment' %></h5></div>
</div>
<div id="comment-area">
  <%= render :partial => "articles/comment", :locals => {:article => @article} %>
</div>

<!-- コメント入力フォーム -->
<div class="row mt-3">
  <div class="col-1"></div>
  <div class="col-1">
    <%= attachment_image_tag current_user, :profile_image, :fill, 60, 60, class: "rounded-circle"%>
  </div>
  <div class="col-7">
    <%= form_with(model: [@article, @comment] ) do |f| %>
      <%= f.text_area :body, class: "form-control mb-3" %>
      <%= f.submit "#{t '.comment'}", class: "btn btn-secondary" %>
    <% end %>
  </div>
  <div class="col-3">
  </div>
</div>

<!-- ----------------------Google Maps API javascript------------------------------ -->
<script>
function initMap(){
  var article_map = {lat: <%= @article.latitude %>, lng: <%= @article.longitude %>};
  let map = new google.maps.Map(document.getElementById('map'), {
  center: article_map,
  zoom: 16
  });
// article_mapの位置にマーカーを表示する
  marker = new google.maps.Marker({
    position: article_map,
    map: map
  });
}
</script>
