<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to following_user_path(user), class: "nav-link text-dark" do %><%= user.following.count %> follow<% end %>
      </li>
      <li class="nav-item">
        <%= link_to follower_user_path(user), class: "nav-link text-dark"  do %><%= user.followers.count %> follower<% end %>
      </li>
      <li class="nav-item">
        <%= link_to user_path(user), class: "nav-link text-dark" do %><i class="fas fa-pen"></i>投稿 <%=user.articles.count %>件<% end %>
      </li>
      <li class="nav-item">
        <%= link_to gallery_user_path(user), class: "nav-link text-dark"  do %><i class="fas fa-camera"></i><% end %>
      </li>
      <li class="nav-item">
        <%= link_to map_path, class: "nav-link text-dark"  do %>map<% end %>
      </li>
    </ul>
  </div>
</nav>