<!-- ユーザーページ　ナビゲーションバー -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark rounded">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to following_user_path(user), class: "nav-link text-light" do %><%= user.following.count %> follow<% end %>
      </li>
      <li class="nav-item">
        <%= link_to follower_user_path(user), class: "nav-link text-light"  do %><%= user.followers.count %> follower<% end %>
      </li>
      <li class="nav-item">
        <%= link_to user_path(user), class: "nav-link text-light" do %><i class="fas fa-pen text-white"></i> <%= t '.post'%> <%=user.articles.count %>件<% end %>
      </li>
    </ul>
  </div>
</nav>