<!-- 通知一覧画面/通知内容のテンプレート -->
<% if notification.checked_status == '未確認' %>
  <div class="row border-warning bg-white rounded bg-lite mt-2 notification">
<% else %><!-- チェック済み -->
  <div class="row bg-white rounded mt-2 notification">
 <% end %>
    <div class="col-2 pt-2 pr-2">
      <%= attachment_image_tag notification.sender, :profile_image, :fill, 60, 60, class: "rounded-circle"%>
    </div>
    <div class="col-9 pt-2">
      <p class="text-dark pt-2">
        <%= link_to user_path(notification.sender), class: "text-info" do %>@<%= notification.sender.name %>さん<% end %>が
        <% if notification.notification_type == "いいね" %>
          <%= notification.article.title %>をいいねしました。
        <%elsif notification.notification_type == "コメント" %>
          <%= link_to article_path(notification.article), class: "text-info" do %><%= notification.article.title %><% end %>にコメントしました。
        <% elsif notification.notification_type == "フォロー" %>
          あなたをフォローしました。
        <% else %>
          <%= notification.article.title %>をストックしました。
        <% end %>
      </p>
      <p class="text-secondary text-right"><%= notification.created_at.to_s(:datetime_jp)%></p>
    </div>
  </div>