
<%= render :partial => "users/profile", :locals => {:user => @user} %>

<div class="row">
  <% @user.following.each do |following| %>
    <div class="col-5 border border-light pt-3 pb-3 mb-5 bg-light">
      <div class="row">
        <div class="col-3">
          <%= link_to user_path(following) do %>
            <%= attachment_image_tag following, :profile_image, :fill, 100, 100, class: "rounded-circle"%>
          <% end %>
        </div>
        <div class="col-5">
          <%= following.name %>
        </div>
        <div class="col-4" id="follow_button-<%= following.id %>">
          <%= render :partial => "users/follow_button", :locals => {:user => following} %>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
           <%= link_to following_user_path(following), class: "nav-link text-dark" do %><%= following.following.count %> follow<% end %>
           <%= link_to follower_user_path(following), class: "nav-link text-dark"  do %><%= following.followers.count %> follower<% end %>
        </div>
        <div class="col-6"></div>
      </div>
    </div>
    <div class="col-1 mb-5"></div>
  <% end %>
</div>
