
<%= render :partial => "users/profile", :locals => {:user => @user} %>

<div class="row pt-2 pb-2">
  <% @user.followers.each do |follower| %>
    <div class="col-5 border border-light pt-3 pb-3 mb-5 bg-light">
      <div class="row">
        <div class="col-3">
          <%= link_to user_path(follower) do %>
            <%= image_tag follower.profile_image.thumb_100.to_s, class: "rounded-circle" %>
          <% end %>
        </div>
        <div class="col-5">
          <%= follower.name %>
        </div>
        <div class="col-4" id="follow_button-<%= follower.id %>">
          <%= render :partial => "users/follow_button", :locals => {:user => follower} %>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <%= link_to following_user_path(follower), class: "nav-link text-dark" do %>
            <%= follower.following.count %> follow
          <% end %>
          <%= link_to follower_user_path(follower), class: "nav-link text-dark"  do %>
            <%= follower.followers.count %> follower
          <% end %>
        </div>
        <div class="col-6"></div>
      </div>
    </div>
    <div class="col-1 mb-5"></div>
  <% end %>
</div>

