<div class="row mt-5">
  <div class="col-2"></div>
  <div class="col-8">
    <h2 class="border-bottom border-lite">通知</h2>
  </div>
</div>
<!-- 通知一覧 -->
<!-- 新規通知 -->
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
  	<% @new_notifications.each do |notification| %>
      <div class="row border border-lite bg-info">
        <div class="col-1 pt-2">
          <%= attachment_image_tag notification.sender, :profile_image, :fill, 60, 60, class: "rounded-circle"%>
        </div>
        <div class="col-8 pt-2">
          <% if notification.notification_type == "いいね" %>
            <p class="text-secondary">@<%= notification.sender.name %>さんが<%= notification.article.title %>をいいねしました。</p>
          <%elsif notification.notification_type == "コメント" %>
            <p class="text-secondary">@<%= notification.sender.name %>さんが<%= notification.article.title %>にコメントしました。</p>
          <% elsif notification.notification_type == "フォロー" %>
            <p class="text-secondary">@<%= notification.sender.name %>さんがあなたをフォローしました。</p>
          <% else %>
            <p class="text-secondary">@<%= notification.sender.name %>さんが<%= notification.article.title %>をストックしました。</p>
          <% end %>
        </div>
      </div>
  	<% end %>
    </div>
  <div class="col-2"></div>
</div>
<!-- 過去の通知 -->
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <% @checked_notifications.each do |checked| %>
      <div class="row border border-lite bg-info">
        <div class="col-1 pt-2">
          <%= attachment_image_tag checked.sender, :profile_image, :fill, 60, 60, class: "rounded-circle"%>
        </div>
        <div class="col-8 pt-2">
          <% if checked.notification_type == "いいね" %>
            <p class="text-secondary">@<%= checked.sender.name %>さんが<%= checked.article.title %>をいいねしました。</p>
          <%elsif checked.notification_type == "コメント" %>
            <p class="text-secondary">@<%= checked.sender.name %>さんが<%= checked.article.title %>にコメントしました。</p>
          <% elsif checked.notification_type == "フォロー" %>
            <p class="text-secondary">@<%= checked.sender.name %>さんがあなたをフォローしました。</p>
          <% else %>
            <p class="text-secondary">@<%= checked.sender.name %>さんが<%= checked.article.title %>をストックしました。</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-2"></div>
</div>
<div class="row mt-3">
  <div class="col-5"></div>
  <div class="col-7">
    <%= paginate @checked_notifications %>
  </div>
</div>