<div class="row mt-5">
  <div class="col-2"></div>
  <div class="col-8">
    <h2 class="border-bottom border-lite">通知</h2>
  </div>
</div>
<!-- 通知一覧 -->
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <% @notifications.each do |notification| %>
    <% if notification.checked_status == '未確認' %>
      <div class="row border-bottom border-lite bg-warning pt-2 pb-2">
    <% else %><!-- チェック済み -->
      <div class="row border-bottom border-lite bg-lite pt-2 pb-2">
    <% end %>
        <div class="col-1 pt-2">
          <%= attachment_image_tag notification.sender, :profile_image, :fill, 60, 60, class: "rounded-circle"%>
        </div>
        <div class="col-8 pt-2">
          <% if notification.notification_type == "いいね" %>
            <p class="text-secondary">@<%= notification.sender.name %>さんが<%= notification.article.title %>をいいねしました。</p>
          <%elsif notification.notification_type == "コメント" %>
            <p class="text-secondary">@<%= notification.sender.name %>さんが<%= notification.article.title %>にコメントしました。</p>
          <% elsif notification.notification_type == "フォロー" %>
            <p class="text-secondary">@<%= notification.sender.name %>さんがあなたをフォローしました。</p>
          <% else %>
            <p class="text-secondary">@<%= notification.sender.name %>さんが<%= notification.article.title %>をストックしました。</p>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
  <div class="col-2"></div>
</div>
<div class="row mt-3">
  <div class="col-5"></div>
  <div class="col-7">
    <%= paginate @notifications %>
  </div>
</div>