<!-- お問い合わせ一覧 -->
<div class="mt-5">
  <div class="col-1"></div>
  <div class="col-10">
    <!-- 絞り込みリンク -->
    <p>未対応件数：<%= @inquiries.count_by_status(0) %></p>
    <p>本日の問い合わせ件数：<%= @inquiries.count_per_day %></p>
    <p>フィルター：<%= render :partial => "search_link", :locals => {:search_number => @search_number}%></p>
  	<table class="table table-hover">
  	  <thead>
      <th>お問い合わせ日時</th>
  		<th>問合わせ内容</th>
  		<th>ステータス</th>
  	  </thead>
  	  <tbody>
  	    <% @inquiries.each do |inquiry| %>
  	      <tr>
            <td><%= inquiry.created_at.to_s(:datetime_jp)%></td>
  	        <td>
              <%= link_to admins_inquiry_path(inquiry), class: "text-info" do %>
                <%= inquiry.title %>
              <% end %>
            </td>
  	        <td>
              <% if inquiry.status == "未対応"%>
                <span class="text-danger"><%= inquiry.status %></span>
              <% else %>
                <span><%= inquiry.status %></span>
              <% end %>
            </td>
  	      </tr>
  	    <% end %>
  	  </tbody>
  	</table>
    <%= paginate @inquiries %>
  </div>
</div>
