<div class="row mt-5">
  <div class="col-1"></div>
  <div class="col-10">
    <h2 class="mb-5 border-bottom border-lite">お問い合わせ内容</h2>
    <p>メールアドレス：<%= @inquiry.email %></p>
    <div id="inquiry-title">
      <%= render :partial => "inquiry_title", :locals => {:inquiry => @inquiry}%>
    </div>
    <p>内容：</p>
    <p><%= simple_format(@inquiry.body) %></p>
    <p>お問い合わせ日時：<%= @inquiry.created_at.to_s(:datetime_jp)%></p>
    <% if @inquiry.status == "対応済み" %>
      <p>対応完了日時：<span class="text-success"><%= @inquiry.updated_at.to_s(:datetime_jp)%></span></p>
    <% end %>
    <!-- 対応ステータス変更ボタン -->
    <div id="status-button">
      <%= render :partial => "acknowledged_button", :locals => {:inquiry => @inquiry} %>
    </div>
  </div>
  <div class="col-1"></div>
</div>
