<%= render :partial => "users/profile", :locals => {:user => @user} %>
<div class="mt-5"></div>
<div class="border bg-light" id="message-area">
  <%= render :partial => "messages/message", :locals => {:messages => @messages} %>
</div>
<div class="row mt-5">
  <div class="col-12">
  <%= form_with model: @message do |f| %>
    <%= f.text_area :body, class: "form-control mb-2" %>
    <%= f.hidden_field :room_id, :value => @room.id %>
    <%= f.submit "送信", class: "btn btn-secondary"%>
  <% end %>
  </div>
</div>