<header class="sticky-top bg-dark pt-2 pb-2">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <h3 class="text-white">TABILOG</h3>
      </div>
      <div class="col-3">
      </div>
      <div class="col-4">
        <!-- user側header -->
        <% if user_signed_in? %>
          <%= link_to root_path do %>
            <div class="btn btn-outline-warning"><i class="fas fa-home"></i></div>
          <% end%>
          <%= link_to timeline_user_path(current_user) do %>
            <div class="btn btn-outline-warning"><%= t '.timeline' %></div>
          <% end %>
          <%= link_to new_article_path do %>
            <div class="btn btn-success"><i class="fas fa-pen"></i></div>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <div class="btn btn-outline-warning"><%= t '.logout' %></div>
          <% end %>
        <!-- admin側header -->
        <% elsif admin_signed_in? %>
          <%= link_to admins_home_top_path do %>
            <div class="btn btn-outline-warning"><i class="fas fa-home"></i></div>
          <% end%>
          <%= link_to admins_users_path do %>
            <div class="btn btn-outline-warning">会員一覧</div>
          <% end %>
          <div class="btn btn-outline-danger">お問い合わせ</div>
          <%= link_to destroy_admin_session_path, method: :delete do %>
            <div class="btn btn-outline-warning">Log out</div>
          <% end %>
        <!-- 非会員header -->
        <% else %>
          <%= link_to root_path do %>
            <div class="btn btn-outline-warning"><i class="fas fa-home"></i></div>
          <% end%>
          <%= link_to new_user_session_path do %>
            <div class="btn btn-outline-warning"><%= t '.login' %></div>
          <% end %>
          <%= link_to new_user_registration_path do %>
            <div class="btn btn-outline-warning"><%= t '.signup' %></div>
          <% end %>
        <% end %>
      </div>
      <div class="col-1">
        <div id="getposition" class="btn btn-outline-light"><i class="fas fa-map-marked-alt"></i></div>
      </div>
      <!-- ユーザーメニュー -->
      <div class="col-1">
        <% if user_signed_in? %>
        <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle position-relative" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <% if current_user.receive_notifications.not_checked_number != 0 || current_user.unchecked_messages_count != 0 %>
                <div class="notification-circle rounded-circle"></div>
              <% end %>
              <%= attachment_image_tag current_user, :profile_image, :fill, 25, 25, class: "rounded-circle" %>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to "#{t '.mypage'}", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "#{t '.message'} #{ current_user.unchecked_messages_count }", rooms_path, class: "dropdown-item" %>
              <%= link_to "#{t '.stock'}", stock_user_path(current_user), class: "dropdown-item" %>
              <%= link_to "#{t '.favolite_article'}", favolite_user_path(current_user), class: "dropdown-item" %>
              <%= link_to "#{t '.edit_registration'}", edit_user_registration_path, class: "dropdown-item" %>
              <span class="dropdown-item"><%= link_to notifications_user_path(current_user) do %><i class="fas fa-bell text-warning"></i> <span class="text-dark"><%= current_user.receive_notifications.not_checked_number %></span></span><% end %>
            </div>
          </div>
          <% end %>
      </div>
      <!-- ------------- -->
    </div>
  </div>
</header>


