<!DOCTYPE html>
<html>
  <head>
    <title>TABILOG</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %><!-- javascriptへの変数受け渡し -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrap position-relative">
      <%= render 'layouts/header' %>
      <% if params[:controller] == 'home' && params[:action] == 'map'  %>
        <div class="container-fluid">
      <% else %>
        <div class="container mb-3">
      <% end %>
          <%= render 'layouts/flashes' %>
          <%= yield %>
        </div>
      <%= render 'layouts/footer'%>
      <%= render 'layouts/loading'%>
    </div>
  </body>
</html>
