<p><%= t '.hello' %> <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t '.comfirm_message' %> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t '.comfirmed_message '%> <%= @resource.email %>.</p>
<% end %>