<div class="row mt-5">
  <div class="col-2"></div>
  <div class="col-8 p-5 mt-5">
    <div class="">
      <h3 class="text-center mb-5"><%= t '.edit_user' %></h3>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, "#{t '.email'}" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
         <div class="mb-3">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field mb-3">
        <%= f.label :password, "#{t '.password'}" %> <i><%= t '.password_message' %></i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> <%= t '.characters' %></em>
        <% end %>
      </div>

      <div class="field mb-3">
        <%= f.label :password_confirmation, "#{t '.confirmation'}" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"  %>
      </div>

      <div class="field mb-3">
        <%= f.label :current_password, "#{t '.current_password'}" %> <i><%= t '.confirmation_message' %></i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control"  %>
      </div>

      <div class="actions">
        <%= f.submit "#{t '.update_button'}", class: "btn btn-dark btn-block mb-5" %>
      </div>
    <% end %>

    <h3><%= t '.cancel' %></h3>

    <p>Unhappy? <%= button_to "#{t '.cancel'}", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: "btn btn-danger", method: :delete %></p>

    <%= link_to "#{t '.back'}", :back %>
  </div>
  <div class="col-2"></div>
</div>

